*{
    margin: 0px 3px;
    padding: 5px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,rgb(226, 195, 255),lightcoral);
    border: none;
}

h1{
    color: blueviolet;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

h2,h3{
    color: blueviolet;
}

.image{
    display: flex;
    justify-content: center;
}

#canvas
{
    border: 3px solid rgba(137, 43, 226, 0.304); 
    width: 400px; 
    height: 350px; 
}

button{
    color: white;
    background-color: blueviolet;
    border: none;
    padding: 8px 8px;
    border-radius: 5px;
    margin-left: 20px;
}
button:hover{
    background-color: lightcoral;
    color: black;
    cursor: pointer;
}

.filters{
    margin: 0px 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.effects{
    display: flex;
    flex-direction: row;
}
